/* Applying CSS to body */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* border: 2px solid; */
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(bg2.jpg);
}

/* Applying CSS to Nav_bar elements */
.nav-elements {
    display: flex;
    margin: 10px 0px;
    padding: 10px 0px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
}

/* Applying CSS to logo links and buttons */
.logo {
    margin: 0px 15px;
    font-weight: 600;
    /* background-color: black; */
    font-family: 'Permanent Marker', cursive;
}

.logo a {
    padding: 10px 10px;
    font-size: 25px;
    color: white;
    text-decoration: none;
}
.logo a:hover{
    color: #00ffe5;
    background-color: rgb(21, 19, 19);
    transition: 0.2s ease-in;
    border-radius: 10px;
}

.nav-links a{
    margin: 0px 15px;
    font-weight: 700;
    color: aliceblue;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
}

.nav-links a:hover{
    /* color: red; */
    text-shadow: 0px 0px 5px rgb(22, 21, 21);
    transition: 0.2s ease-in;
}

.nav-links a::after{
    content: " ";
    top: 20px;
    left: 0px;
    width: 0%;
    height: 2.5px;
    transition: 0.5s;
    position: absolute;
    /* background: #ffffff; */
    background: #009688;
}

.nav-links a:hover::after{
    width: 100%
}

.nav-btns{
    margin-right: 25px;
}
.nav-btns input{
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 10px;
    /* background-color: #d9f6f9; */
}

/* Applying CSS to Middle */
.middle{
    display: flex;
    position: relative;
    top: 0;
    justify-content: center;
}
section{
    width: 70%;
    height: 80vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid white; */
}

.info h1{
    text-align: center;
    font-size: 35px;
}
.booking-btns button{
    font-size: 15px;
    cursor: pointer;
    margin: 0px 10px;
    padding: 7px 20px;
    border-radius: 6px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    color: whitesmoke;
    background: transparent;
    border: 2px solid #009688;
}

.booking-btns button span{
    background: #009688;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    transition: 0.5s;
}

.booking-btns button:hover span{
    width: 100%;
}
/*Applying CSS on Footer*/
.Footer{
    display: flex;
    justify-content: center;
    top: 0;
}
.fot-info p span{
    color:#77c2ba;
    font-weight: 400;
}